@import "global2.css";

/* editor style */

#document {
    padding: var(--spacer-5);
    background-color: var(--colour-0-0);
    border: 1px solid var(--colour-0-7);
}

#document * {
    font-family: monospace;
    font-size: 16px;
    height: auto;
}

.panel {
    border: 1px solid var(--colour-1-1);
    margin: 0px;
}

#file, #info {
    display: grid;
    gap: var(--spacer-5);
}

#file label, #info label {
    text-align: left;
    padding: 0px;
}

.buttonContainer {
    display: grid;
    gap: var(--spacer-5);
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.panel button {
    width: auto;
    width: 34px;
    height: 37px;
    border-radius: 5px;
}

#loadContainer input[type="file"] { display: none; }

/* layout general */

#editor {
    width: 80%;
    margin: auto;
    display: grid;
    gap: var(--spacer-10);
}

/* layout 1 */

.layout-1#editor {
    grid-template-columns: 1fr 192px;
    grid-template-rows: auto auto auto auto auto auto;
}

.layout-1 #document {
    height: 100%;
    grid-row: 1/7;
}

/* layout 2 */

.layout-2#editor {
    grid-template-columns: 192px 1fr 192px;
    grid-template-areas: 
    "fi  do in"
    "el  do in"
    "elp do . "
    "fo  do . "
    "se  do . "
    ;
}

.layout-2 #file { grid-area: fi; }

.layout-2 #elements { grid-area: el; }

.layout-2 #elementProperties { grid-area: elp; }

.layout-2 #format { grid-area: fo; }

.layout-2 #settings { grid-area: se; }

.layout-2 #document { grid-area: do; }

.layout-2 #info { grid-area: in; }

/* layout 3 */

.layout-3#editor {
    grid-template-columns: 192px 1fr 192px;
}

.layout-3 .row {
    display: flex;
    flex-direction: column;
    gap: var(--spacer-10);
}

.layout-3 #document {
    height: calc(100vh - 46px - 20px - 37px - 20px - 20px ); /* window height - navbar - bodyContent top pad - h3 - h3 margin bottom - bodyContent bottom pad */
}
