@import "global2.css";

body {
    background-color: var(--colour-0-1);
}

#bodyContent h3:first-of-type, #fileGrid {
    margin-left: auto;
    margin-right: auto;;
    width: 100%;
    max-width: 1000px;
}

/* fileGrid */

#fileGrid {
    display: grid;
    gap: var(--spacer-10);
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
}

#fileGrid label {
    padding: 0px;
}

#fileInputContainer label { padding: var(--spacer-1) var(--spacer-2); }

#fileInputContainer, #fileStatus, #lastModified {
    grid-column: 2/4;
}

#fileGrid > div {
    grid-column: 2/4;
}

#fileGrid > hr {
    grid-column: 1/5;
}

@media screen and (max-width: 660px) {

    #fileGrid {
        grid-template-columns: auto 1fr;
    }

    #fileInputContainer, #fileStatus, #lastModified, #fileGrid > div {
        grid-column: unset;
    }

    #fileNew, #fileSave, #filenameApply, #fileGrid > hr {
        grid-column: 1/3;
    }
}

/* console log */

#consoleLog {
    height: 200px;
}

/* editor */

#editor {
    height: calc(100vh - var(--spacer-10) - var(--spacer-10));
}