@import "global.css";

/* GENERAL */

.navbar {
    top: unset;
}

html, body {
    overflow-y: scroll;
    scrollbar-width: none;
  }
  
body::-webkit-scrollbar {
    width: 0;
    height: 0;
}

#bodyContent {
    padding: 0px;
}

img {
    width: 100%;
    display: block;
}

p {
    padding: var(--spacer-5);
}

/* HEADER */

#headerContainer {
    position: relative;
    height: auto;
}

#header {
    width: 100%;
    margin: 0px;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 115px;
}

/* GRID */

#grid {
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
    align-content: center;
    justify-content: center;
}

p {
    margin: 0px;
    font-size: 60px;
    display: inline;
    align-self: center;
}

/* RESPONSIVE */

@media only screen and (max-width: 1400px) {

    #header {
        font-size: 90px;
    }

}

@media only screen and (max-width: 1100px) {

    #header {
        font-size: 60px;
    }

}

@media only screen and (max-width: 1030px) {

    p {
        font-size: 40px;
    }
    
}

@media only screen and (max-width: 770px) {
 
    #header {
        font-size: 30px;
    }

    p {
        font-size: 20px;
    }
    
}