@import "global.css";

/* moving all media queries to bottom will probably simplify code */

:root {

    /* font */

    --font-weight-h1: 100;
    --font-weight-h2: normal;
    --font-weight-h3: normal;
    --font-weight-h4: normal;

    /* position */

    --centering-offset-h1: 60px;

    /* size */

    --font-size-h1: 80px;
    --font-size-h2: 80px;
    --font-size-h3: 50px;
    --font-size-h4: 30px;
    --font-size-h5: 16px;
    --font-size-p: 16px;

    --font-size-input: 50px;

    --icon-width: 60px;

    --menu-width: 545px;
    --menu-height: 60vh;
    --menu-height-max: 545px;
    
    --menu-button-height: 90px;

    /* spacing */

    --padding-general: 20px;

    --grid-gap: 20px;
}

/* RESPONSIVE - TABLET */

@media only screen and (max-width: 1300px) {
    :root {
            
        /* font */

        --font-weight-h1: 100;
        --font-weight-h2: normal;
        --font-weight-h3: normal;
        --font-weight-h4: normal;

        /* position */

        --centering-offset-h1: 40px;

        /* size */

        --font-size-h1: 55px;
        --font-size-h2: 55px;
        --font-size-h3: 35px;
        --font-size-h4: 20px;
        --font-size-h5: 11px;
        --font-size-p: 11px;

        --font-size-input: 35px;

        --icon-width: 40px;

        --menu-width: 415px;
        --menu-height: 60vh;
        --menu-height-max: 415px;
        
        --menu-button-height: 75px;

        /* spacing */

        --padding-general: 20px;

        --grid-gap: 20px;
    }
}

/* RESPONSIVE - PHONE */

@media only screen and (max-width: 800px) {
    :root {

        /* font */

        --font-size-h1: 40px;
        --font-size-h2: 30px;
    }

    /* header */

    .drenga-controls {
        display: flex;
        flex-direction: column;
    }
    
    .drenga-settings-icon {
        margin-bottom: 8px;
    }

    /* footer:
       > see: STYLE - FOOTER - RESPONSIVE
       > see: GENERAL - RESPONSIVE
    */
}

/* GENERAL */

* {
    /* select */
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    /* scrollbar */
    scrollbar-width: none; /* Firefox */
}

*::-webkit-scrollbar {
    /* scrollbar */
    display: none; /* Chrome */
  }

html, body {
    min-width: unset;
    user-select: none;
}

.drenga-settings-icon, .drenga-info-icon, .drenga-reset-icon {
    width: var(--icon-width);
    fill: rgb(060,060,060);
}

svg:hover {
    fill: rgb(071,071,071);
}

/* LAYOUT */

#bodyContent {
    padding: var(--padding-general);
}

.drenga-grid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 2fr auto;
    grid-gap: var(--grid-gap);
    text-align: center;
    align-content: center;
    justify-content: center;
}

[class*="grid-row-"] {
    width: 100%;
}

/* RESPONSIVE - PHONE */

@media only screen and (max-width: 800px) {

    .drenga-grid-numpad-enabled {
        grid-template-rows: auto 2fr auto 1.3fr;
    }
}

/* HEADER */

.drenga-grid-row-1 {
    height: auto;
    display: grid;
    grid-template-columns: 1fr auto;
}

.heading-wrapper {
    width: calc(100% - var(--centering-offset-h1));
    justify-self: end;
}

h1 {
    display: inline;
    font-size: var(--font-size-h1);
    font-weight: var(--font-weight-h1);
}

.drenga-controls {
    justify-self: right;
    z-index: 1;
}

/* BODY */

.drenga-grid-row-2 {
    height: 100%;
    text-align: center;
}

h2 {
    font-size: var(--font-size-h2);
    margin: var(--padding-general) 0px 0px 0px;
    font-weight: var(--font-weight-h2);
    text-align: left;
}

/* FOOTER */

.drenga-grid-row-3 {
    grid-template-columns: 1fr auto;
    height: auto;
    display: grid;
    grid-gap: var(--grid-gap);
    align-items: end;
}

input[type="number"].drenga-input { /* id to override input element style precedence */
    border: none;
    background-color: transparent;
    color: var(--colour-5); /* */
    text-shadow: 0 0 0 rgb(000,128,000);
    font-family: monospace;
    font-style: italic;
    font-size: var(--font-size-input);
    height: auto;
}

.drenga-status {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    grid-gap: var(--grid-gap);
    align-items: center;
}

h3 {
    font-weight: var(--font-weight-h3);
    font-size: var(--font-size-h3);
    margin: 0px;
    padding: 0px;
    text-align: left;
}

/* FOOTER - RESPONSIVE */

@media only screen and (max-width: 800px) {

    /* for some reason grip gap places gap on right of reset icon when "bricks moved" text is disabled for phone screens */

    .drenga-status {
        grid-gap: 0px;
    }

    .drenga-status h3:first-of-type {
        display: none;
    }

    .drenga-bricks-moved {
        margin-right: 15px;
    }
}

/* NUMPAD */

.numpad {
    display: none;
    grid-gap: 4px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.numpad button {
    width: 100%;
    height: 100%;
}

/* NUMPAD - RESPONSIVE */

@media only screen and (max-width: 800px) {
    
    .numpad-enabled {
        display: grid;
    }
}

/* POP UP - GENERAL */

.drenga-settings-background, .drenga-info-background, .drenga-passiveRulesPopUp-background {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
}

.drenga-settings-container, .drenga-info-container, .drenga-passiveRulesPopUp-container {
    background-color: rgb(037,037,037);
    position: relative;
    margin: auto;
    width: var(--menu-width);
    height: var(--menu-height);
    max-height: var(--menu-height-max);
    padding: var(--padding-general) 0px;
}

.drenga-settings-container:before, .drenga-info-container:before {
    /* scroll text fade top */
    content: "";
    display: block;
    position: absolute;
    width: inherit;
    height: var(--padding-general);
    top: var(--padding-general);
    background-image: linear-gradient(to bottom, rgba(037,037,037, 1) 0%, rgba(037,037,037, 0) 100%);
    pointer-events: none;
}

.drenga-settings-container:after, .drenga-info-container:after {
    /* scroll text fade bottom */
    content: "";
    display: block;
    position: absolute;
    width: inherit;
    height: var(--padding-general);
    bottom: var(--padding-general);
    background-image: linear-gradient(to top, rgba(037,037,037, 1) 0%, rgba(037,037,037, 0) 100%);
    pointer-events: none;
}

.drenga-settings-content, .drenga-info-content, .drenga-passiveRulesPopUp-content {
    height: 100%;
    padding: 0px var(--padding-general) var(--padding-general) var(--padding-general);
    overflow-y: scroll;
}

h4 {
    margin: 0px;
    float: left;
    font-size: var(--font-size-h4);
    font-weight: var(--font-weight-h4);
    font-family: var(--font-family-global);
}

p {
    text-align: justify;
}

/* POP UP - SETTINGS */

.drenga-settings-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: var(--padding-general);
}

.drenga-settings-content p {
    margin: 0px;
    text-decoration: underline;
}

.drenga-settings-content button {
    display: inline;
    margin: 0px;
    padding: var(--padding-general);
    height: var(--menu-button-height);
}

.drenga-settings-content button:hover {
    background-color: rgb(071,071,071);
}

.drenga-settings-content button.active {
    background-color: rgb(071,071,071);
}

.drenga-settings-content button svg {
    fill: rgb(000,128,000);
    height: 100%;
    float: left;
    padding-right: var(--padding-general);
}

.drenga-settings-content button h5 {
    text-decoration: none;
    font-style: italic;
    font-weight: unset;
    font-size: var(--font-size-h5);
    float: left;
    margin: 0;
    font-family: var(--font-family-global);
    white-space: nowrap;
}

.ghetto-pad {
    height: 1px;
}

/* POP UP - INFO */

ul {
    list-style-type: square;
    list-style-position: inside;
    padding-left: 0px;
}

span {
    text-decoration: underline;
}

/* POP UP - PASSIVE RULES */

.drenga-passiveRulesPopUp-container {
    height: auto;
}

.drenga-passiveRulesPopUp-content {
    overflow: hidden;
    height: auto;
    padding-bottom: 0px;
}

.drenga-passiveRulesPopUp-content div {
    display: grid;
    grid-template-columns: auto 1fr;
}

.drenga-passiveRulesPopUp-content div svg {
    height: var(--icon-width);
    fill: rgb(000, 128, 000);
}

.drenga-passiveRulesPopUp-content div h3 {
    display: inline-block;
    text-align: center;
    position: relative;
    left: calc(0px - var(--icon-width) / 2);
}

.drenga-passiveRulesPopUp-content h4 {
    margin-top: var(--padding-general);
}