@import "global.css";

/* GENERAL */

#bodyContent {
    /* background: repeating-radial-gradient(#a65a08, #326c85 50px); */
    background: url("../images/index/starField6.gif");
}

h1 {
    /* display: none; */
}

pre {
    display: inline-block;
    text-align: left;
}

p {
    background-color: var(--colour-0);
    border: 1px solid var(--colour-5);
    padding: var(--spacer-4);
    border-radius: 5px;
    width: 100%;
    max-width: 800px;
    text-align: center;
    line-height: 30px;
    margin: auto;
}

/* carousel */

.carousel {
    padding-top: var(--spacer-4);
    overflow-x: hidden;
    width: 100%;
    max-width: 800px;
    margin: auto;
}

.slides {
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
}

.slide {
    padding: 5px;
    flex-shrink: 0;
    box-sizing: border-box;
    transition: left 1.8s;
    position: absolute;
    z-index: 1;
}

.slide img {
    display: block;
    margin: auto;
}

.carousel a { 
    display: inline-block;
    width: 100%;
}

/* LAYOUT */

#introduction {
    margin: auto;
    position: relative;
    width: 500px;
    background-color: var(--colour-1);
    padding: var(--spacer-4);
    border: 1px solid var(--colour-5);
    border-radius: 5px;
}

/* RESPONSIVE - TABLET */

@media only screen and (max-width: 0px) {
    
    #bodyContent {
        background: var(--colour-1);
    }

    h1 {
        display: unset;
    }
}
