@import "global.css";

/* GENERAL */

#bodyContent {
    /* background: repeating-radial-gradient(#a65a08, #326c85 50px); */
}

h1 {
    /* display: none; */
}

pre {
    display: inline-block;
    text-align: left;
}

p {
    background-color: var(--colour-0);
    border: 1px solid var(--colour-5);
    padding: var(--spacer-4);
    border-radius: 5px;
    width: 100%;
    max-width: 800px;
    text-align: center;
    line-height: 30px;
    margin: auto;
}

/* LAYOUT */

/* RESPONSIVE - TABLET */

@media only screen and (max-width: 0px) {
    
    #bodyContent {
        background: var(--colour-1);
    }

    h1 {
        display: unset;
    }
}
