@import "global2.css";

/* GENERAL */

#bodyContent {
    /* background: repeating-radial-gradient(#a65a08, #326c85 50px); */
}

h1 {
    margin-top: 40px;
}

/* LAYOUT */

#bodyContent {
    height: calc(100vh - var(--navbar-height));
}

#bodyContent div {
    margin: auto;
}

/* RESPONSIVE - TABLET */

@media only screen and (max-width: 0px) {
    
    #bodyContent {
        background: var(--colour-1);
    }

    h1 {
        display: unset;
    }
}
