@import "global.css";

/* GENERAL */

h1 {
    font-weight: 100;
    display: auto;
}

/* GENERAL - SECTION CONTAINER */

#loadContainer, #mapContainer {
    padding: 20px;
    background-color: var(--colour-2);
}

/* LAYOUT */

#grid {
    margin: auto;
    display: grid;
    gap: 20px;
    max-width: 1000px;
}

/* LOAD */

#loadGrid {
    display: grid;
    gap: 20px;
    grid-template-columns: auto 1fr auto 1fr;
    align-items: center;
}

#loadGrid input[type="file"] {
    background-color: var(--colour-0);
}

/* MAP */

.map {
    height: 400px;
    width: 100%;
  }