@import "global.css";

/* GENERAL */

h1 {
    margin-bottom: 40px;
}

h2, h3, h4 {
    margin: 0px;
}

h3 {
    margin-bottom: var(--spacer-1);
}

button, label, input, textarea, p {
    padding: 6px;
}

textarea.readOnlySmall {
    padding: 6px;
    height: 28px;
    text-align: left;
}

/* LAYOUT */

#grid {
    margin: auto;
    display: grid;
    gap: 20px;
    max-width: 1000px;
}

#fileGrid, #attributes, #routes, #tools {
    display: grid;
    gap: var(--spacer-5);
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.tableStyle-1 {
    grid-column: 1/5;
}

/* LOG */

#log {
    height: 200px;
}

/* OPTIONS */

#options > div {
    margin-bottom: var(--spacer-5);
}

#options > div:last-child {
    margin-bottom: 0px;
}

/* OPTIONS - FILE */

#fileGrid {
    align-items: center;
}

#fileInputContainer, #fileStatus {
    grid-column: 2/4;
}

/* OPTIONS - ATTRIBUTES */

#attributes > h4, #attributes > hr {
    grid-column: 1/5;
}

/* OPTIONS - CURRENT HOME LIST */

#currentHomeList {
    grid-column: 1/5;
}

/* OPTIONS - ATTRIBUTES / ROUTES */

#attributes > h4, #routes > h4 {
    border-top: 1px solid var(--colour-4);
    padding: var(--spacer-1) 0px 0px 0px;
}

/* OPTIONS - ROUTES */

#routes > h4, #routes > hr {
    grid-column: 1/5;
}

#routes > h4:first-child {
    border-top: none;
    padding-top: 0px;
}

#routes > .tableScrollList {
    grid-column: 1/5;
}

#routeDescriptionContainer {
    grid-column: 2/5;
    height: 100px;
}

#routeDescription {
    height: 100%;
}

/* MAP */

.map {
    height: 400px;
    width: 100%;
    margin-bottom: var(--spacer-5);
}

/* MAP - TOOLS */

#mapContainer > h4 {
    grid-column: 1/5;
    border-top: 1px solid var(--colour-4);
    padding: var(--spacer-1) 0px 0px 0px;
    margin-bottom: var(--spacer-5);
}
