@import "global.css";

html, body {
    scrollbar-width: none;
}

#bodyContent {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto 1fr;
    grid-gap: 20px;
    text-align: center;
    align-content: center;
    justify-content: center;
}

img {
    margin: auto;
}

#button {
    display: inline-block;
}

#monitorName {
    text-transform: capitalize;
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}